.panel_set {
    margin-top : 10px;
    color : white;
}
.panel {
    background-color:transparent; 
    float: left;
    width: 103%;
    height : 480px;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height : 480px;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    height : 480px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

/**** new add: 2015-05-03 ****/
.panel .front .front-background {
	height: 500px;
	position:relative;
}
.panel .front .front-inner {
	height:220px;
	width:100%;
	margin-top:280px;
	background-color:rgba(0,174,235,0.5);
	position:absolute;
}
.panel .back .back-div {
	height: 500px;
	background-color:rgba(187,231,13,0.7);
}
.panel .back .back-div a .back-logo {
	text-align: center;
	padding-top:40px;
}
/******************************/

.panel .back {
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.panel-back-text {
    height: 100%;
    margin-left:30px;
    margin-right:30px;
    
    /* add in 2015-05-03 */
    padding-top:30px;
    font-size:120%;
    font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;  /* 微软雅黑  */
    line-height:200%; 	/* 行距 */
    letter-spacing:2px; /* 字体间距 */
    /**********************/
    
    text-decoration:none;
    color:white;
}

.transp{
  background-color: rgba(0, 174, 235, 0.8);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
  padding-top: 100px; 
  height: 500px; 
  width: 105%;
  cursor:pointer;
}
.transp:hover
{
    background-color:rgba(187, 231, 13, 0.8)
}
.transp p{
  text-align:center;
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .transp{
    background-color:#00AEEB;
    filter:Alpha(opacity=80);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .transp:hover{
    background-color:#BBE70D;
    filter:Alpha(opacity=80);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  .transp p{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }  
}

.gap_line{
    border : 1px dashed white; 
    margin-top:0px;
    margin-bottom:10px;
}
/*
.h_line{
    border : 1px solid #00ACEA;
    margin-top:6px;
    margin-bottom:0px;
    width:75px; 
}*/
.circle{ border:2px solid #F9F6F5; width:100px; height:100px; margin:0 auto; 
-webkit-border-radius:50px; 
-moz-border-radius:50px; 
-o-border-radius:50px; 
border-radius:50px; 
} 
/*
.licircle{ 
background-color: #00ACEA;
border:2px solid #F9F6F5; width:15px; height:15px; margin:0 auto; 
-webkit-border-radius:50px; 
-moz-border-radius:50px; 
-o-border-radius:50px; 
border-radius:50px; 
} 
*/
/*保持bootstrap行等高：bootstrap row col height same*/
.row{
    overflow: hidden; 
}
[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row-margin-top {
        margin-top: 10px;
    }

.mouseky{
    cursor:pointer;
}
.mouseky div{
    background:#FACE0D;
}
.price{
    text-align:center;
    margin-top:25px;
}
.theme{
    width:102%;
}

#popupme{
    
    width:808px;
    height:419px;
    background:white;
    opacity: 0.85;
}
#popup_info{
    padding-left: 9px; 
}
#day_all{

}
#day_txt textarea{
    resize: none;
    background: #00ACEA;
    color: white;
    height: 206px;
}
.h_line{
    float:left;
    border : 1px solid #00ACEA;
    margin-top:6px;
    width:75px; 
}
.licircle{ 
    float:left;
    background: #00ACEA;
    border:3px solid #F9F6F5; width:15px; height:15px;
    -webkit-border-radius:50px; 
    -moz-border-radius:50px; 
    -o-border-radius:50px; 
    border-radius:50px; 
    margin-left: 5px;
} 
.day_info{
    color: #00ACEA;
    margin-bottom: -8px;
    width: 24px;
    cursor:pointer;
    margin-top: 20px;
}
.day_info p{
    padding-left: 5px;

}
.day_num{
   margin-left: 2px;
}
.foleft{
    float: left;
}